:root {
  --console-background: rgb(40, 44, 53);
  --text: rgb(129, 152, 174);
  --input-text: rgb(129, 152, 174);
  --prefix-text: rgb(126, 146, 100);
  --error-text: rgb(201, 102, 112);
  --warning-text: rgb(200, 157, 112);
  --success-text: rgb(0, 187, 0);
  --info-text: rgb(52, 114, 173);
  --special-text: rgb(132, 136, 146);
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  overflow-x: hidden;
  overflow-y: overlay;
  color: var(--text);
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 1em;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
}

#consoleContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--console-background);
  font-size: 20px;
}

#inputContainer {
  color: var(--input-text);
}
#inputContainer #prefix {
  color: var(--prefix-text);
}
/* Remove default styling */
#inputContainer #input, #inputContainer #input:focus {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: 'Courier New', monospace;
  font-size: 1em;
  color: var(--input-text);
}


#commandsContainer .command {
  white-space: pre;
}
#commandsContainer .command.error {
  color: var(--error-text);
}
#commandsContainer .command.success {
  color: var(--success-text);
}
#commandsContainer .command.warning {
  color: var(--warning-text);
}
#commandsContainer .command.info {
  color: var(--info-text);
}
#commandsContainer .command.special {
  color: var(--special-text);
}