:root {
  --console-background: rgb(40, 44, 53);
  --text: rgb(129, 152, 174);
  --input-text: rgb(129, 152, 174);
  --prefix-text: rgb(126, 146, 100);
  --error-text: rgb(201, 102, 112);
  --warning-text: rgb(200, 157, 112);
  --success-text: rgb(0, 187, 0);
  --info-text: rgb(52, 114, 173);
  --special-text: rgb(132, 136, 146);
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  color: var(--text);

  background: gray;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.laptopContainer {
  position: relative;
}

#laptop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 900px;
  height: 600px;
}

/* CONSOLE CONTAINER */
#consoleContainer {
  position: absolute;
  top: -270px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--console-background);
  font-size: 20px;

  overflow-x: none;
  overflow-y: scroll;

  width: 730px;
  height: 466px;
}
#consoleContainer * {
  word-break: break-all;
}
#consoleContainer::-webkit-scrollbar {
  width: .5em;
  background-color: transparent;
}
#consoleContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
}

/* INPUT */
#inputContainer {
  color: var(--input-text);
}
#inputContainer #prefix {
  color: var(--prefix-text);
}
#inputContainer #input, #inputContainer #input:focus {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: 'Courier New', monospace;
  font-size: 1em;
  color: var(--input-text);
}
#inputContainer.disabled {
  display: none;
}


/* GITHUB COMMAND */
.github-command {
  padding-left: 1em;
  font-size: .8em;
  white-space: initial;
}
.github-command h1 {
  font-size: 1em;
  color: var(--info-text);
}
.github-command .profile {
  display: flex;
  align-items: center;
  gap: .5em;
}
.github-command .profile a {
  color: var(--success-text);
  text-decoration: none;
}
.github-command .profile img {
  width: 2em;
}
.github-command .repos a {
  font-size: 1em;
  color: var(--warning-text);
}
.github-command .repos p {
  margin: 0;
}

/* COMMANDS */
#commandsContainer .command {
  white-space: pre-wrap;
}
#commandsContainer .command p {
  margin: 0;
}
#commandsContainer .command.error {
  color: var(--error-text);
}
#commandsContainer .command.success {
  color: var(--success-text);
}
#commandsContainer .command.warning {
  color: var(--warning-text);
}
#commandsContainer .command.info {
  color: var(--info-text);
}
#commandsContainer .command.special {
  color: var(--special-text);
}


@media only screen and (max-width: 1000px) {
  #laptop {
    width: 630px;
    height: 420px;
  }
  #consoleContainer {
    top: -190px;
    width: 510px;
    height: 327px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 690px) {
  #laptop {
    width: 450px;
    height: 300px;
  }
  #consoleContainer {
    top: -132px;
    width: 360px;
    height: 230px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 460px) {
  #laptop {
    width: 342px;
    height: 228px;
  }
  #consoleContainer {
    top: -103px;
    width: 275px;
    height: 177px;
    font-size: 8px;
  }
}