* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

:root {
    --background-start: rgba(0,212,255,1);
    --background-middle: rgba(9,9,121,1);
    --background-end: rgba(2,0,36,1);

    --text-primary: #f9f8ff;
    --text-secondary: #cdcde0;
    --text-link: #8888ff;
    --text-link-hover: #b0b0ff;
}

html {
    background: var(--background-end);
    background: linear-gradient(13deg, var(--background-end) 26%, var(--background-middle) 58%, var(--background-start) 100%);
}

/* Scrollbar styling */
body {
    overflow: overlay;
}
::-webkit-scrollbar {
    width: 1em;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1em;
}

/* Fix the canvas across the entire screen */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
}

/* Scroll indicator */
.scroll-indicator {
    width: 30px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;

    position: absolute;
    top: 90vh;
    right: calc(50vw - 15px);

    display: flex;
    justify-content: center;

    transition: opacity 1s;
}
.scroll-indicator .dot {
    background-color: gray;
    width: 5px;
    height: 5px;
    border-radius: 2px;

    margin-top: 6px;

    animation: scroll-dot-animation 2s infinite;
}
@keyframes scroll-dot-animation {
    0% {
        margin-top: 6px;
    }
    90% {
        margin-top: 16px;
    }
    100% {
        margin-top: 6px;
    }
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    will-change: transform;
    font-size: 3vmin;
}
.section h1 {
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: 2.5em;
}
.section h2 {
    color: var(--text-secondary);
    font-size: 1.5em;
}
.section p {
    color: var(--text-secondary);
}
a {
    color: var(--text-link);
    text-decoration: none;
}
a:hover {
    transform: scale(1.03);
    display: inline-block;
    color: var(--text-link-hover);
    transition: all .3s;
}
ul {
    list-style-type: none;
}
ul li {
    color: var(--text-secondary);
}
ul li a {
    font-size: inherit;
}
section:nth-child(even) {
    align-items: flex-end;
}


@media
only screen and (min-device-pixel-ratio: 2) and (max-width: 700px),
only screen and (min-resolution: 192dpi) and (max-width: 700px),
only screen and (min-resolution: 2dppx) and (max-width: 700px) {
    .section {
        font-size: 5vmin;
    }
}